<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1 {
            text-align: center;
        }
        a{
            text-decoration: none;
        }
        button {
            padding: 10px 20px;
            font-size: 20px;
            margin: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1> Home </h1>
    <a href="/"> Index Page </a>
    <a href="/about"> <button> About </button> </a>
</body>
</html>